services:
  bastion:
    image: sn8kesec/bastion:armv8  # Change to amd64 for Intel Macs
    container_name: bastion-dev
    hostname: bastion
    stdin_open: true
    tty: true
    cap_add:
      - NET_ADMIN
      - NET_RAW
    devices:
      - /dev/net/tun
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=0
    #ports:
    #  - "3000:3000"
    volumes:
      - bastion-root:/root
      - bastion-logs:/root/.logs
      - bastion-tools:/opt/tools
      - bastion-loot:/root/loot
      - bastion-go:/root/go
      - bastion-go-install:/usr/local/go
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped

volumes:
  bastion-root:
  bastion-logs:
  bastion-tools:
  bastion-loot:
  bastion-go:
  bastion-go-install:
